services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    networks:
      - asernum
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: asernum-documents-db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

networks:
  asernum:
    name: asernum
