services:
  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - asernum
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data

volumes:
  redis-data:

networks:
  asernum:
    name: asernum
